* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

/* Header */
.ms_logo-sony {
    width: 15%;
}

.ms_bullet-list::before {
    content: "\2022";
    color: #0d6efd;
    font-weight: bold;
    margin-right: 10px;
}

.ms_dropdown li {
    display: inline-block;
}

.dropdown-item-text {
    text-decoration: none;
}

/* Main */
/* .ms_jumbo {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
}*/
.ms_main-logo-1 {
    width: 300px;
    margin-top: 150px;
}

.ms_main-logo-2 {
    width: 300px;
}

.ms_products {
    width: calc(100% / 3);
}

.ms_social {
    width: calc(100% / 2);
}

.ms_bg-gray {
    background-color: #bebcbb;
}

.ms_bg-dark-blue {
    background-color: #161c3b;
}

.ms_bg-blue {
    background-color: #00439c;
}

.ms_bg-img-1 {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ms_bg-img-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ms_margin-top-banner {
    margin-top: 118px;
}

ul li {
    padding: 5px 0;
}

/* Footer */
.ms_footer-logo-1 {
    width: 100px;
}

.ms_footer-logo-2 {
    width: 150px;
}

/* Responsive */
/* SM */
@media all and (min-width: 576px) {

    .ms_logo-sony {
        width: 13%;
    }

    .ms_social {
        width: calc(100% / 4);
    }
}

/* MD */
@media all and (min-width: 768px) {

    .ms_logo-sony {
        width: 8%;
    }

    .ms_products {
        width: calc(100% / 5);
    }
}

/* LG */
@media all and (min-width: 992px) {

    .ms_logo-sony {
        width: 5%;
    }
}