* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

/* Header */
.ms_logo-sony {
    width: 80px;
}

.ms_bullet-list::before {
    content: "\2022";
    color: #0d6efd;
    font-weight: bold;
    margin-right: 10px;
}

.ms_dropdown li {
    display: inline-block;
}

.dropdown-item-text {
    text-decoration: none;
}

.ms_btn-1:hover {
    outline: 2px solid #fff;
    outline-offset: -4px;
}

.ms_shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Main */
.ms_main-logo-1 {
    width: 300px;
    margin-top: 300px;
}

.ms_main-logo-2 {
    width: 300px;
}

.ms_products {
    width: calc(100% / 3);
}

.ms_social {
    width: calc(100% / 2);
}

.ms_bg-gray {
    background-color: #bebcbb;
}

.ms_bg-dark-blue {
    background-color: #161c3b;
}

.ms_bg-blue {
    background-color: #00439c;
}

.ms_bg-img-1 {
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ms_bg-img-2 {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ms_margin-top-banner {
    margin-top: 109px;
}

ul li {
    padding: 5px 0;
}

.ms_btn-2:hover {
    outline: 2px solid black;
    outline-offset: -4px;
}

.ms_btn-3:hover {
    outline: 2px solid #0d6efd;
    outline-offset: -4px;
}

.ms_game {
    background-color: red;
}

.ms_overlay {
    transition: all 0.5s;
}

.ms_overlay:hover {
    transform: translateY(-15px);
}

.ms_opacity {
    opacity: 0.5;
}

.ms_opacity:hover {
    opacity: 1;
    border-bottom: 3px solid #0d6efd;
}

/* Footer */
.ms_footer-logo-1 {
    width: 80px;
}

.ms_footer-logo-2 {
    width: 150px;
}

/* Responsive */
/* SM */
@media all and (min-width: 576px) {

    .ms_logo-sony {
        width: 80px;
    }

    .ms_social {
        width: calc(100% / 4);
    }
}

/* MD */
@media all and (min-width: 768px) {

    .ms_products {
        width: calc(100% / 5);
    }

    .ms_social {
        width: calc(100% / 4 - 50px);
    }
}

/* LG */
@media all and (min-width: 992px) {

    .ms_social {
        width: calc(100% / 4 - 100px);
    }
}

/* XL */
@media all and (min-width: 1200px) {

    .ms_social {
        width: calc(100% / 4 - 150px);
    }
}

/* XXL */
@media all and (min-width: 1400px) {

    .ms_social {
        width: calc(100% / 4 - 200px);
    }
}